#board_table{
	margin-left: auto;
	margin-right: auto;
}

#board_header{
	background-color: dodgerblue;
	color: white;
}

#board_paging{
	display: flex;	
	justify-content: center;
	flex-direction: column;

}

#board_paging div:first-child{
	
}